.manage-doctor-container {
  padding: 0 20px;
  .manage-doctor-title {
    padding: 10px;
  }
  .save-content-doctor {
    padding-top: 10px;
  }
  .more-info {
    margin-bottom: 20px;
    .form-control {
    }
  }
}
